<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='ar.css') }}">
		<title> About Space </title>
	</head>

	<body>
		<nav class="navigation">
			<a id = 'web_title'href="{{ url_for('index') }}">Into Space</a> 
			<a href="{{ url_for('ar') }}">AR Solar System</a> 
			<a href="{{ url_for('apod') }}">APOD</a> 
			<a href="{{ url_for('index') }}">Home</a> 
		</nav>

		<div class="header">
			<h1>SOLAR SYSTEM AR</h1>
		</div>
		<section class="section1">
			<img class = 'arexample' src='https://raw.githubusercontent.com/dawegw2/space-themed-website/main/static/img/arexample.JPG'>
			<div class="desc-container">
				<p>Learn about the planets in our solar system in AR</p>
				<br><br>
				<a class="button" href="https://dawegw2.github.io/testrepo/site.html">Explore</a>
			</div>
		</section>

		<section class="section2">
			<a href='/static/img/armarker.png' download>
				<img class = 'marker' src='/static/img/armarker.png'>
			</a>
			<div  class="container">
				<h1>What you need</h1>
				<p>All you need is the marker and a camera.</p>
				<p>Don't have a marker?<br> Just click on the image to download the marker and print your own.</p>
				<p>Once you have the marker visit the AR page and explore the planets in AR!</p>
			</div>
		</section>

		
		<section class="section3">
			<h2 class="codes">QR Codes</h2>
			<div  class="container">
				<img class='qr' src='/static/img/marker-qr-code.png'>
				<p>If you're using a laptop or a PC with an <br> external camera, scan this qr code for a digital marker on mobile</p>
			</div>

			<div  class="container">
				<img class='qr' src='/static/img/qrcode.png'>
				<p>You can directly access the ar site on mobile by scanning this qr code. <br> While on the app you can use the marker above to display the scene</p>
			</div>
		</section>
		
		


       

	</body>
</html>
